@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import slick carousel css */
/* @import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css'; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Okara';
  src: url('/fonts/Okra Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* You can define different weights and styles similarly */

body {
  font-family: 'Okara', sans-serif;
}


/* custom-css */

.custom-radio {
  appearance: none; /* Remove default styling */
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.custom-radio:checked {
  border-color: red;
}

.custom-radio:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }